/* Hide scrollbar for Chrome, Safari and Opera */

.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.example {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

#title, #tribute-titel {
    font-weight: 100;
}

#main {
    display: flex;
    align-content: center;
    flex-direction: column;
}

#img-div {
    align-items: center;
}

#image {
    max-width: 100%;
    height: auto;
}

#tribute-titel {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

#tribute-info {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 20px 20px 20px 20px;
}

.tribute-article {
    margin: 20px 20px 20px 20px;
}
